{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- Bootstrap Icons CDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>
<body>
    
    {% block body %}
   <div class="body">
    {% block menubar %}
    <div class="menuCont">
      
        <nav class="navbar navbar-expand-lg  sidebar">
            <div class="container-fluid" style="display: flex; flex-direction: column;">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav" style="display: flex; flex-direction: column;">
                   <li class="nav-item">
                    <a class="nav-link" href="#">Add new Task</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">All Tasks</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-calendar-date"> </i>Today</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Tags</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link">Disabled</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link">Upcoming</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link">Status</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link">Settings</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn-danger">Logout</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          
          
         
    </div>
    <div class="topMenu">
      <h6>UserAv</h6>
      <h6>Dark</h6>
    </div>
    {% endblock %}

    {% block content %}
    {% endblock %}
    
   </div>
    
    {% endblock %}
</body>
</html>