{% extends 'base/base.html' %}

{% block menubar %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Hi {{username}} </h1>
        <p class="text-center">Your task management solution.</p>
        {% for task in tasks %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ task.title }} {% if task.status == 'completed' %}
                        <span class="badge badge-success">Completed</span>
            {% else %}
                        <span class="badge badge-pill badge-dark" style="color: black;">Pending</span>
            {% endif %}</h5>
                    <p class="card-text">{{ task.description }}</p>
                    <p class="card-text"><small class="text-muted">Due: {{ task.due_date }}</small></p>
                    <a href="{% url 'task_detail' task.id %}" class="btn btn-primary">View Task</a>
       
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}