{% extends 'base/base.html' %}

{% block dashboard %}

    <div class="container mt-5">
        <h2 class="">Hi {{username}}..! </h2>
        <p class="">Your task management solution.</p>
        <hr>
        {% for task in tasks %}
        
            <div class="taskCard mb-3">
                <input type="checkbox" class="form-check-input" {% if task.completed %}checked{% endif %}
                onchange="toggleTask('{{ task.id }}', this)">
                <div class="tsci">
                    <div class="">
                   
                      <h5 id="task-text-{{ task.id }}" class="{% if task.completed %}completed{% endif %}">
                          {{ task.title }}
                      </h5>
                      
                      <p class="card-text">{{ task.description }}</p>
                      <p class="card-text"><small class="text-muted">Due: {{ task.due_date }}</small></p>
                      
                      <div class="mb-2">
                        {% for tag in task.tags.all %}
                          <span class="badge bg-primary me-1">{{ tag.tag_name }}</span>
                        {% empty %}
                          <span class="text-muted">No tags</span>
                        {% endfor %}
                      </div>
                      
                        
           
                    </div>
                   <div>
                    <a href="{% url 'task_detail' task.id %}" ><i class="bi bi-pencil-square"></i></a>
                    <a href="{% url 'delete_task' task.id %}" > <i class="bi bi-trash3"></i></a>
                    <a href="#" onclick="openUpdateModal({{task.id}})">Update</a>

                   
                   </div>
                </div>
            </div>
            <hr>
        {% endfor %}
    
<a href="" class='link_btn' data-bs-toggle="modal" data-bs-target="#createTaskModal">
    
  </a>

  
    <a class="link_btn" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      <i class="bi bi-plus-circle"></i> Add Task
    </a>
  
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      {% include 'base/create_task_form.html' %}

    </div>
  </div>
  <div style="height: 10vh;">&nbsp;</div>
  
  <!-- <ul>
    {% for task in tasks %}
  <div>
    <input type="checkbox" >
    
  </div>
{% endfor %}
  </ul>
   -->
 
  
    </div>

   
<div class="modal fade" id="updateTaskModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="modalContent">
      <!-- form will load here -->
    </div>
  </div>
</div>
<script>
 
</script>

{% endblock %}