.body{
    display: flex;
    background-color: beige;
}

.menuCont{
    width: 13vw;
    max-width: 400px;
    background-color: antiquewhite;
    height: 100vh;
    position: sticky;
    left: 0px;
    top: 0px

}
.menuCont a{
    color : black;
}
#navbarNav{
    display: flex;
    flex-direction: column;
}

.nav-item .nav-link{
    color : black !important;
    font-size: 15;
    
}

.sidebar .nav-link:active{
    color : black !important;
}
.sidebar .container-fluid{
    align-items: flex-start;
    padding: 2px;
}

.content{
    width: 86vw;
}

.topMenu{
    display: flex;
    justify-content: flex-end;
}

.topMenu a{ padding: 10px;}

.topMenu a i{font-size: 20px;}


/* Index file */
.tsci{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.taskCard{ display: flex;
    align-items: center;}
.tsci a{padding: 0px 6px;}
.link_btn{
    text-decoration: none;
    color: peru;
}
.input_style {
    border: none;
}

.input_style:focus{
    outline: none;
    box-shadow: none;
    border: none;
}
.footer{
    font-size: 9px;

}

.completed {
    text-decoration: line-through;
    color: gray;
  }
  