.body{
    display: flex;
    background-color: beige;
}

.menuCont{
    width: 13vw;
    max-width: 400px;
 
    background-color: antiquewhite;

    height: 100vh;

}
.menuCont a{
    color : black;
}
#navbarNav{
    display: flex;
    flex-direction: column;
}

.nav-item .nav-link{
    color : black !important;
    font-size: 15;
    
}

.sidebar .nav-link:active{
    color : black !important;
}
.sidebar .container-fluid{
    align-items: flex-start;
    padding: 2px;
}

.content{
    width: 86vw;
}

.topMenu{
    display: flex;
    justify-content: flex-end;
}

.topMenu a{ padding: 10px;}

.topMenu a i{font-size: 20px;}